.team-member .member figcaption ul.list-inline li.list-inline-item a {
    float: left;
    color: #fff;
    font-size: 13px;
    height: 30px;
    width: 30px;
    background-color: #f4c625;
    padding: 5px;
}

section {
    padding: 6px 0;
}

.card__post .card__post__body img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 134px;
    position: relative;
}

.wrapper__list__article .border_section:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f4c625;
    z-index: 1;
}

.wrapper__list__article .border_section:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #eee;
}
