@media screen and (min-width: 320px) and (max-width: 575px) {
    .card-mobile-type {
        float: left;
        width: 50%;
        max-height: 125px;
        padding-right: 5px;
    }
    .image-magazine-leMonde {
        padding: 4px 10px !important;
    }
    .image-banner-magazine {
        top: 20px !important;
        width: 80px !important;
    }
    .img-magazine-wrap {
        padding: 12px 0px !important;
    }
    .image-lm-p{
        font-size:8px;
        line-height:10px;
        padding:0 9px;
    }
    .image-parent-container {
        width: 72% !important;
        padding-left: 10px !important;
        padding-top: 5px !important;
    }
    .magazine-desc{
        font-size:9px !important;
    }
    .magazine-title{
        font-size:10px !important;
    }
    .image-container{
        height:90px !important;
    }
    .article_title-mobile {
        font-size: 13px !important;
        line-height: 15px !important;
    }
    .search-icon-pos{
        top:3px !important;
    }
    .content-box-title {
        top: 0px !important;
    }
    .img-cat {
        position: relative;
        top: 40px !important;
        left: 10px !important;
        z-index: 1;
    }

    .img-subcat {
        width: 100%;
        height: 100% !important;
    }

    .wrapper__list__article {
        margin-bottom: 30px;
        margin-top: 0px !important;
    }

    .topbar .topbar-right {
        text-align: right;
    }

    .img-subcat {
        width: 100%;
        height: 41px;
    }

    .article__entry-new {
        position: relative;
        margin-top: 20px !important;
    }

    .justify-content-between {
        justify-content: space-between !important;
        width: 100%;
    }

    .text-rect {
        background-color: #f4c625;
        padding: 7px !important;
        font-size: 14px !important;
        color: #54626b;
        font-weight: 700;
        text-transform: uppercase;
    }

    #nav-menu-display {
        display: none;
    }

    .navbar-soft .navbar-nav .nav-item {
        margin-left: 0px;
        margin-right: 5px;
        display: table-cell;
    }

    .base-ref {
        color: #fff;
        margin-top: 10px;
        line-height: 15px !important;
        font-size: 12px;
        text-align:center !important;
    }

    .navbar-nav {
        position: relative;
        display: block;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        left: 13px;
    }

    .logo-img {
        height: 100px;
        padding: 15px 0px;
    }

    .nav-link-search {
        position: relative;
        top: 3px;
        color: #000;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
        text-align:center;
    }

    .currency-m {
        margin-right: -32px;
        margin-left: -28px;
        margin-bottom: 0px;
    }

    .banner-3 {
        padding-left: 15px;
        padding-right: 0px !important;
    }

    .banner-9 {
        padding-right: 0px;
        padding-left: 5px !important;
    }

    .slide-width {
        max-width: 100% !important;
    }

    .article__entry-carousel .slick-arrow, .article__entry-carousel-three .slick-arrow {
        opacity: 1;
        top: -62px;
        margin-top: 0;
        padding: 7px;
        width: 40px;
        height: 40px;
        line-height: 30px;
        text-align: center;
        border: 1px solid #e3e4e8;
        font-size: 12px;
        border-radius: 0;
        display: none !important;
    }

    .bg__footer-dark {
        background-color: #515d5e;
        padding: 20px;
    }

    .hidden-section {
        display: none;
    }

    .card__post {
        position: relative;
        margin-top: 15px;
    }

    .text {
        height: 70px !important;
        color: #ffffff;
        font-size: 0px !important;
        padding: 15px 36px 18px 27px !important;
        line-height: 0px !important;
        position: absolute;
        left: 22px !important;
        bottom: 0px;
        width: 88% !important;
        font-weight: 600;
        font-family: Montserrat;
        text-align: start;
        background-color: #515d5e;
    }

    .title-word-big-right {
        background-color: #f4c625;
        width: 35px !important;
        height: 35px !important;
        top: 16px !important;
        right: 2px !important;
        position: absolute;
        right: -8px !important;
    }

    .title-word-big-sm {
        left: -8px !important;
    }

    .prev, .next-sm {
        top: 35% !important;
    }

    .title-word-big-sm {
        background-color: #f4c625;
        position: absolute;
        width: 25px !important;
        height: 25px !important;
        left: -13px;
        top: 20%;
    }
    .video-full-width {
        width: 100% !important;
    }
    .prev, .next-sm {
        margin-top: 0px !important;
        font-size: 15px !important;
        align-items: center;
        vertical-align: middle;
        position: initial !important;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .text-sm {
        color: #ffffff;
        font-size: 8px !important;
        padding: 11px 8px 9px 14px !important;
        line-height: 9px !important;
        position: absolute;
        left: 14px !important;
        bottom: 0px;
        width: 86%;
        font-weight: 600;
        font-family: Montserrat;
        text-align: start;
        background-color: #515d5e94;
        align-items: center;
        display: flex;
        overflow-wrap: anywhere;
    }

    .title-word-big {
        background-color: #f4c625;
        position: absolute;
        width: 35px !important;
        height: 35px !important;
        left: -10px !important;
        top: 15px !important;
    }

    .title-word-big-right > a > img{
        width:15px;
    }

    .title-word-big > a > img {
        width: 15px;
    }

    .prev, .next {
        cursor: pointer;
        position: relative;
        top: 32% !important;
        width: auto;
        padding: 10px !important;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .img-slide {
        width: 100%;
        height: 260px !important;
    }

    .title-slide {
        position: relative;
        left: 11px !important;
        font-size:14px !important;
    }

    .card__post .card__post__body .card__post__content .card__post__category {
        position: absolute;
        top: -35px !important;
        left: 25px !important;
    }

    .card__post .card__post__body .card__post__content .card__post__title p {
        line-height: 18px !important;
        font-size: 14px !important;
        margin-bottom: 0;
    }

    .text-capitalize {
        text-transform: capitalize !important;
        top: 0px !important;
        position: relative !important;
    }

    .switch {
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 21px;
        top: 15px;
        left: 24px;
        bottom: 0;
    }

    .banner-cs{
        display: none !important;
    }
    #bnr.increase {
        display: none !important;
    }

    .footer-list-row-border {
        padding: 20px;
        border-bottom: 1px solid #f4c625;
        border-top: 1px solid #f4c625;
        border-left: 1px solid #f4c625;
        border-right: 1px solid #f4c625 !important;
    }
    #main_nav99.removeCurrency{
        display:none;
    }
    
    .reference-cs{
        text-align:center !important;
        float:none !important;
        left:30px;
    }

     #footer-col-1 {
        width: 100% !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .wrapper__footer .widget__footer p {
        margin-bottom: 30px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .article__entry .article__content {
        float: none;
        padding: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .article__entry .article__content ul.list-inline li.list-inline-item span {
        font-size: 12px;
        top: 7px;
        position: relative;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .article__entry .article__content .article__category {
        position: relative;
        top: 8px !important;
        left: 0px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    section {
        padding: 19px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .popular__news-header .card__post {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .rect-content-box-title-mobile-guest {
        position: relative;
        top: 4px;
    }
    .card-mobile-type {
        float: left;
        width: 50%;
        max-height: 125px;
        padding-right: 5px;
        padding-top:5px;
    }
    .card-mobile-type-content{
        height:155px;
    }
    .card-mobile-image {
        height:157.5px !important;
    }
    .card-title-mobile{
         overflow-wrap:normal !important;
    }

    .image-banner-pd{
        padding:15px !important;
    }

}