.card__post-list .card__post__content .card__post__title h6 a {
    color: #515d5e;
    text-shadow: none;
    font-weight: 700 !important;
    font-size: 14px;
}

    .card__post-list .card__post__content .card__post__title h6 a:hover {
        color: #3c4445;
        text-decoration: none;
    }
