@model GazeteKapiMVC5Core.Models.Settings.SettingsEditViewModel
@{
    ViewData["Title"] = "Ayarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("AyarlariDuzenle", "Settings", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.Id)

                    <div class="mb-3">
                        <h4 class="card-title">Site Ayarları</h4>
                        <p class="card-title-desc">Site ayarlarınız ile ilgili tüm düzenlemelerinizi buradan gerçekleştirin</p>
                    </div>
                    <div class="mb-3">
                        <img id="img" style="max-width:200px;" src="https://uploads.gazetekapi.com/images/@Model.Logo" />
                        <label for="example-text-input" style="margin-top:10px;" class="col-sm-12 col-form-label">Logonuzu Seçin <strong>*(.png formatında yükleyiniz)</strong></label>
                        <input type="file" class="filestyle" id="upload" data-input="false" name="file" data-buttonname="btn-secondary">
                    </div>
                    <div class="mb-3">
                        <img id="imgFooter" style="max-width:200px;" src="https://uploads.gazetekapi.com/images/@Model.FooterLogo" />
                        <label for="example-text-input" style="margin-top:10px;" class="col-sm-12 col-form-label">Footer Logonuzu Seçin <strong>*(.png formatında yükleyiniz)</strong></label>
                        <input type="file" class="filestyle" id="uploadFooter" data-input="false" name="fileFooter" data-buttonname="btn-secondary">
                    </div>
                    <hr style="width:400px;" />
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Site Adı</label>
                        <input asp-for="SiteName" autocomplete="off" data-toggle="tooltip" style="max-width:400px;" data-placement="bottom" class="form-control" type="text" id="example-text-input">
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Site Sloganı</label>
                        <input asp-for="SiteSlogan" autocomplete="off" data-toggle="tooltip" style="max-width:400px;" data-placement="bottom" class="form-control" type="text" id="example-text-input">
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Copyright Başlık</label>
                        <input asp-for="CopyrightTextTitle" autocomplete="off" data-toggle="tooltip" style="max-width:400px;" data-placement="bottom" class="form-control" type="text" id="example-text-input">
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Copyright</label>
                        <input asp-for="CopyrightText" autocomplete="off" data-toggle="tooltip" style="max-width:400px;" data-placement="bottom" class="form-control" type="text" id="example-text-input">
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" asp-for="LogIsActive" />
                        <label class="col-sm-11">Loglamayı aktifleştir</label>
                        <p>
                            <small class="text-danger">* (Test modunda kullanılması önerilir. Performans düşüşlüğüne sebep olabilir)</small>
                        </p>
                    </div>
                    <div class="mb-3" id="logSystemError">
                        <input type="checkbox" asp-for="LogSystemErrorActive" />
                        <label class="col-sm-11">Sadece sistem hatalarını loglamayı aktifleştir</label>
                        <p>
                            <small>* (Hata yakalamak için Loglama servisiyle beraber <span class="text-success">AKTİF</span> çalışılması önerilir)</small>
                        </p>
                    </div>
                    @*<div class="mb-3">
                        <input type="checkbox" asp-for="GetAgencyNewsService" />
                        <label class="col-sm-11">Ajans Servislerinden gelen haber akışını aktifleştir</label>
                        <p>
                            <small>(Ajanslardan gelen haber akışlarını takip etmek için bu seçeneği aktif hale getirin)</small>
                        </p>
                    </div>*@
                    <div class="mb-3" id="currencyService">
                        <input type="checkbox" asp-for="IsCurrencyService" />
                        <label class="col-sm-11">Döviz kurlarını getir ve dinamik hale getir</label>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-sm btn-primary" type="submit">Ayarları Güncelle</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="https://uploads.gazetekapi.com/admin/wwwroot/assets/libs/jquery/jquery.min.js"></script>

<script>
    $(function () {
        $('#upload').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#img').attr('src', '~/assets/Files/user.png');
            }
        });

        $('#uploadFooter').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgFooter').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgFooter').attr('src', '~/assets/Files/user.png');
            }
        });

    });
</script>