<style>
    .bg__footer-dark {
        background-color: #515d5e;
    }

    .footer-list-row {
        padding-left: 0px;
    }

    .footer-list-row-border {
        border: 1px solid #f4c625;
        padding: 20px;
    }

    .wrapper__footer .list-unstyled a {
        color: #f4c625;
        font-family: "Montserrat",sans-serif;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 35px;
        font-weight: 600;
    }

    .footer-border-end-start {
        border-left: 1px solid #f4c625;
        border-right: 1px solid #f4c625;
        padding: 10px;
        position: relative;
        top: 25px;
    }
</style>
<section class="wrapper__section p-0">
    <div class="wrapper__section__components">
        <!-- Footer -->
        <footer>
            <div class="wrapper__footer bg__footer-dark pb-6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" style="padding-right:30px;">
                            <div class="widget__footer">
                                <ul class="list-unstyled option-content is-hidden">
                                    <li>
                                        <a href="#"><img src="~/Files/logo-footer.png"></a>
                                    </li>
                                    <li>
                                        <hr style="background-color:#f3c625;" />
                                    </li>
                                    <li class="p-3">
                                        <img src="~/Files/lemonde-footer.png" class="mt-1" />
                                    </li>
                                    <li>
                                        <hr style="background-color:#f3c625;" />
                                    </li>
                                    <li>
                                        <h6 style="color:#fff;">© TÜM HAKLARI SAKLIDIR / 2022</h6>
                                        <p style="color:#f3c625; font-size:10px;">GAZETE KAPI'DA YAYIMLANAN YAZI, HABER VE FOTOĞRAFLARIN HER TÜRLÜ TELİF HAKKI ................ GAZETECİLİK VE YAYINCILIK SANAYİ VE TİCARET A.Ş.'YE AİTTİR. İZİN ALINMADAN, KAYNAK GÖSTERİLMEDEN VE LİNK VERİLMEDEN İKTİBAS EDİLEMEZ.</p>

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row footer-list-row">
                                <div class="col-sm-4 footer-list-row-border">
                                    <div class="widget__footer">
                                        <ul class="list-unstyled option-content is-hidden">
                                            <li>
                                                <a href="#" style="color:#fff;">ÇEREZ POLİTİKASI</a>
                                            </li>
                                            <li>
                                                <a href="#" style="color:#fff;">GİZLİLİK İLKELERİ</a>
                                            </li>
                                            <li>
                                                <a href="#" style="color:#fff;">KULLANIM ŞARTLARI</a>
                                            </li>
                                            <li>
                                                <a href="#" style="color:#fff;">KÜNYE</a>
                                            </li>
                                            <li>
                                                <a href="#" style="color:#fff;">YAYIN İLKELERİ</a>
                                            </li>
                                            <li>
                                                <a href="#" style="color:#fff;">ARŞİV</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3 footer-list-row-border">
                                    <div class="widget__footer">
                                        <ul class="list-unstyled option-content is-hidden">
                                            <li>
                                                <a class="color-list" href="#">BİLİM</a>
                                            </li>
                                            <li>
                                                <a href="#">DÜNYA</a>
                                            </li>
                                            <li>
                                                <a href="#">DÜNYA FORUM</a>
                                            </li>
                                            <li>
                                                <a href="#">EKONOMİ</a>
                                            </li>
                                            <li>
                                                <a href="#">GÜNDEM</a>
                                            </li>
                                            <li>
                                                <a href="#">HAYAT</a>
                                            </li>
                                            <li>
                                                <a href="#">İNSAN HAKLARI</a>
                                            </li>
                                            <li>
                                                <a href="#">KADIN</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3 footer-list-row-border">
                                    <div class="widget__footer">
                                        <ul class="list-unstyled option-content is-hidden">
                                            <li>
                                                <a href="#">KONUK YAZAR</a>
                                            </li>
                                            <li>
                                                <a href="#">KÜLTÜR-SANAT</a>
                                            </li>
                                            <li>
                                                <a href="#">POLİTİKA</a>
                                            </li>
                                            <li>
                                                <a href="#">SAĞLIK</a>
                                            </li>
                                            <li>
                                                <a href="#">SİNEMA</a>
                                            </li>
                                            <li>
                                                <a href="#">SPOR</a>
                                            </li>
                                            <li>
                                                <a href="#">TEKNOLOJİ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-2 footer-list-row-border">
                                    <div class="widget__footer">
                                        <ul class="list-unstyled option-content is-hidden">
                                            <li>
                                                <a href="#">GALERİ</a>
                                            </li>
                                            <li>
                                                <a href="#">VİDEO</a>
                                            </li>
                                            <li>
                                                <a href="#">KİTAP</a>
                                            </li>
                                            <li>
                                                <a href="#">DERGİ</a>
                                            </li>
                                            <li>
                                                <a href="#">PODCAST</a>
                                            </li>
                                            <li>
                                                <a href="#">YAZARLAR</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row footer-border-end-start">
                                <div class="col-sm-12" style="position:relative; top:3px;">
                                    <h6 style="color:#f4c625;">GAZETEKAPI.COM MOBİL VE TABLET UYUMLUDUR</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="position:relative; top:-15px;">
                        <div class="col-sm-12" style="padding-right:0;">
                            <hr style="background-color:#f4c625;" />
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>