@using GazeteKapiMVC5Core.WEB.Models.ConfigreCaptcha 
@using Microsoft.Extensions.Options
@inject IOptions<reCaptchaSettings> Google
@{
    ViewData["Title"] = "aboneol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/style.css" rel="stylesheet" />
<link href="~/owl.carousel.min.css" rel="stylesheet" />

<section class="bg-white pb-60">

    <div class="container boxed">

        <div class="row justify-content-center">
            <div class="col-md-11">
                @if (ViewBag.Hata != null)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-danger">
                                @ViewBag.Hata
                            </div>
                        </div>
                    </div>
                }
                <div class="row justify-content-center">
                    <div class="col-md-6">

                        <h3 class="heading mb-4">Abone Olun!</h3>
                        <p>Le Monde Diplomatiqe yayınlarından anında haberdar olmak için abone olun!</p>

                        <p><img style="width:70%" alt="subscribe" src="https://uploads.gazetekapi.com/images/subscribeimage.svg" title="subscribeimage" class="img-fluid" /></p>

                    </div>
                    <div class="col-md-6">

                        <form class="mb-5"
                              asp-controller="anasayfa"
                              asp-action="aboneOl"
                              id="contactForm"
                              name="contactForm">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" name="nameSurname" id="name" placeholder="Adınız Soyadınız">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="email" class="form-control" name="emailAdress" id="email" placeholder="Email Adresiniz">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" name="phoneNumber" id="subject" placeholder="Telefon No">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" name="description" id="description" cols="30" rows="7" placeholder="Mesajınız ve Görüşleriniz"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" value="Abone Olun" id="btnsubsc" class="btn btn-primary rounded-0 py-2 px-4">
                                    <span class="submitting"></span>
                                </div>
                            </div>
                            <input type="hidden" name="ReCaptchaToken" id="hdnGoogleRecaptcha" required><br />
                        </form>
                        <div id="form-message-warning mt-4"></div>
                        <div id="form-message-success">
                            Mesajınız bize ulaştı! En kısa sürede size dönüş sağlayacağız
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<script src="~/popper.min.js"></script>

@section Scripts {

    <script src="https://www.google.com/recaptcha/api.js?render=@Google.Value.RecaptchaV3SiteKey"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        grecaptcha.ready(function ()
        {
            grecaptcha.execute('@Google.Value.RecaptchaV3SiteKey', { action: 'aboneol' }).then(function (token) {
                $("#hdnGoogleRecaptcha").val(token); 
            });
        });
    </script>
}