@model GazeteKapiMVC5Core.WEB.ViewModels.Policy.TermsOfUsBaseViewModel

@{
    ViewData["Title"] = "cerezpolitikasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="border_section mb-3"> Çerez Politikası </h4>

