
@{
    ViewData["Title"] = "kategori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrap__section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="title-head">
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-12 text-center">
                                <h3>
                                    @TempData["kategori"]
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <!-- Post Article -->
                            <div class="article__entry-new">
                                <div class="article__category">
                                    life
                                </div>
                                <div class="article__image articel__image__transition">
                                    <a href="#">
                                        <img src="images/placeholder/500x400.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="articel__content">

                                    <div class="article__post__title">
                                        <h5>
                                            <a href="#">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, consequatur!
                                            </a>
                                        </h5>
                                        <ul class="list-inline article__post__author">
                                            <li class="list-inline-item">
                                                <span> by david hall</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span>descember 09, 2016</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Post Article -->
                            <div class="article__entry-new">
                                <div class="article__category">
                                    life
                                </div>
                                <div class="article__image articel__image__transition">
                                    <a href="#">
                                        <img src="images/placeholder/500x400.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="articel__content">

                                    <div class="article__post__title">
                                        <h5>
                                            <a href="#">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, consequatur!
                                            </a>
                                        </h5>
                                        <ul class="list-inline article__post__author">
                                            <li class="list-inline-item">
                                                <span> by david hall</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span>descember 09, 2016</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Post Article -->
                            <div class="article__entry-new">
                                <div class="article__category">
                                    life
                                </div>
                                <div class="article__image articel__image__transition">
                                    <a href="#">
                                        <img src="images/placeholder/500x400.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="articel__content">

                                    <div class="article__post__title">
                                        <h5>
                                            <a href="#">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, consequatur!
                                            </a>
                                        </h5>
                                        <ul class="list-inline article__post__author">
                                            <li class="list-inline-item">
                                                <span> by david hall</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span>descember 09, 2016</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="clerfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <!-- Post Article -->
                            <div class="article__entry-new">
                                <div class="article__category">
                                    life
                                </div>
                                <div class="article__image articel__image__transition">
                                    <a href="#">
                                        <img src="images/placeholder/500x400.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="articel__content">

                                    <div class="article__post__title">
                                        <h5>
                                            <a href="#">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, consequatur!
                                            </a>
                                        </h5>
                                        <ul class="list-inline article__post__author">
                                            <li class="list-inline-item">
                                                <span> by david hall</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span>descember 09, 2016</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Post Article -->
                            <div class="article__entry-new">
                                <div class="article__category">
                                    life
                                </div>
                                <div class="article__image articel__image__transition">
                                    <a href="#">
                                        <img src="images/placeholder/500x400.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="articel__content">

                                    <div class="article__post__title">
                                        <h5>
                                            <a href="#">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, consequatur!
                                            </a>
                                        </h5>
                                        <ul class="list-inline article__post__author">
                                            <li class="list-inline-item">
                                                <span> by david hall</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span>descember 09, 2016</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Post Article -->
                            <div class="article__entry-new">
                                <div class="article__category">
                                    life
                                </div>
                                <div class="article__image articel__image__transition">
                                    <a href="#">
                                        <img src="images/placeholder/500x400.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="articel__content">

                                    <div class="article__post__title">
                                        <h5>
                                            <a href="#">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, consequatur!
                                            </a>
                                        </h5>
                                        <ul class="list-inline article__post__author">
                                            <li class="list-inline-item">
                                                <span> by david hall</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span>descember 09, 2016</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

