@model GazeteKapiMVC5Core.WEB.ViewModels.Policy.TermsOfUsBaseViewModel

@{
    ViewData["Title"] = "kullanimsartlari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="border_section mb-3"> Kullanım Şartları </h4>

