@model GazeteKapiMVC5Core.Models.Category.CategoryCreateViewModel

@{
    ViewData["Title"] = "KategoriOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://uploads.gazetekapı.com/admin/wwwroot/assets/css/pageline.css" rel="stylesheet" />

<div class="row">
    <div class="col-8" style="display:block; margin:0 auto;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="card-title text-center">Kategori Oluştur</h4>
                        <p class="card-title-desc text-center">Kategori oluşturun ve haberlerinizi yönetmeye başlayın</p>
                    </div>
                </div>
                @using (Html.BeginForm("KategoriOlustur", "Haber", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <img id="img" style="width:100%" src="~/Files/categorydefault.jpg" />
                                    <label for="example-text-input" style="margin-top:10px;" class="col-sm-12 col-form-label text-center">Öne Çıkan Görsel Belirle</label>
                                    <input type="file" class="filestyle" id="upload" data-input="false" name="file" data-buttonname="btn-secondary">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Kategori</label>
                        <input asp-for="CategoryName" autocomplete="off" data-toggle="tooltip" data-placement="bottom" class="form-control" type="text" placeholder="Kategori adınızı Giriniz" id="example-text-input">
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Açıklama</label>
                        <textarea asp-for="Description" autocomplete="off" rows="4" cols="50" data-toggle="tooltip" data-placement="bottom" class="form-control" type="text" placeholder="Kategori açıklaması giriniz" id="example-text-input"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Üst Kategori</label>
                        <select asp-for="ParentCategoryId" asp-items="@ViewBag.CategoriesParent" class="form-control">
                            <option selected="selected" value="999">Lütfen bir üst kategori seçiniz (Zorunlu Değildir)</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Pozisyon</label>
                        <select asp-for="Position" class="form-control">
                            <option selected="selected" value="0">Pozisyon Yok</option>
                            <option value="1">Gündemin Haberler Kategorisi</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary btn-sm" style="min-width: 215px; font-size: 18px; display: block; margin: 0 auto;" value="KATEGORİ OLUŞTUR" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="https://uploads.gazetekapı.com/admin/wwwroot/assets/libs/jquery/jquery.min.js"></script>

<script>
    $(function () {
        $('#upload').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#img').attr('src', '~/assets/Files/categorydefault.jpg');
            }
        });

    });
</script>