.link-disabled {
    pointer-events: none;
    cursor: default;
}

.table th {
    font-weight: 600;
    font-family: Roboto,sans-serif;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.card-title-desc {
    color: #6c757d;
    margin-bottom: 0px;
}