
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <li>
                    <a href="javascript:void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-monitor-dashboard"></i>
                        <span> Yönetim </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="" asp-controller="Yonetici" asp-action="Kullanicilar">Kullanıcılar</a></li>
                        <li><a asp-area="" asp-controller="Rol" asp-action="Roller">Roller</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-newspaper-plus"></i>
                        <span> Haber Merkezi </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="" asp-controller="Haber" asp-action="Kategoriler">Kategoriler</a></li>
                        <li><a asp-area="" asp-controller="Haber" asp-action="Haberler">Haberler</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <span> Haber Yerleştirme </span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a asp-area="" asp-controller="Haber" asp-action="HaberSirala">Manşet Haberler</a></li>
                                <li><a asp-area="" asp-controller="Haber" asp-action="HaberYerlestirme">Tüm Haberler</a></li>
                            </ul>
                        </li>                   
                        <li><a asp-area="" asp-controller="Haber" asp-action="Etiketler">Etiketler</a></li>
                    </ul>
                </li>

                @*<li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="mdi mdi-pencil-box-multiple"></i>
                <span> Haber Yerleşimi </span>
            </a>
        </li>*@
                <li>
                    <a asp-controller="Haber" asp-action="Yazarlar" class="waves-effect">
                        <i class="mdi mdi-blogger"></i>
                        <span>Yazar Yönetimi</span>
                    </a>
                </li>
                @*<li>
                    <a href="#" class="waves-effect">
                        <i class="mdi mdi-server-network"></i>
                        <span>Ajans Haberleri</span>
                    </a>
                </li>*@
                @*<li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-image-area"></i>
                        <span> Reklam Yönetimi </span>
                    </a>
                </li>*@
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-cog"></i>
                        <span> Site Ayarları </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="" asp-controller="Settings" asp-action="Ayarlar">Ayarlar</a></li>
                        <li><a asp-area="" asp-controller="Onbellek" asp-action="onbellegitemizle">Önbelleği Temizle</a></li>
                        <li><a asp-area="" asp-controller="Settings" asp-action="GizlilikPolitikası">Gizlilik Politikası</a></li>
                        <li><a asp-area="" asp-controller="Settings" asp-action="KullanimKosullari">Kullanım Koşulları</a></li>
                        <li><a asp-area="" asp-controller="Settings" asp-action="CerezPolitikasi">Çerez Politikası</a></li>
                        <li><a asp-area="" asp-controller="Settings" asp-action="Kunye">Künye</a></li>
                        <li><a asp-area="" asp-controller="Settings" asp-action="YayinIlkeleri">Yayın İlkeleri</a></li>
                        <li><a asp-area="" asp-controller="Settings" asp-action="Hakkimizda">Hakkımızda</a></li>
                    </ul>
                </li>
                @*<li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="mdi mdi-image-plus"></i>
                <span>Fotoğraf Arşivi </span>
            </a>

        </li>*@

                @*<li>
            <a href="javascript: void(0);" class="waves-effect">
                <i class="mdi mdi-space-station"></i>
                <span>Astroloji Yönetimi </span>
            </a>

        </li>*@

                <li>
                    <a asp-area="" asp-controller="Yonetici" asp-action="CikisYap" class="waves-effect">
                        <i class="mdi mdi-logout"></i>
                        <span>Güvenli Çıkış</span>
                    </a>

                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

</div>
