<!DOCTYPE html>
<html lang="">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Gazete Kapı Lemonde Yayıncılık ile 2022 yılında yayın hayatına başladı" />
    <meta name="keywords" content="gazetekapı, lemonde, dergi, gazete, " />
    <meta name="theme-color" content="#030303" />
    <meta name="language" content="Turkish" />
    <meta name="google-site-verification" content="-yBJ5UFx3dae3cclgxb_CL32eWvv1ju5Utc_DivwiaM" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:site_name" content="Gazete Kapı" />
    <meta property="og:title" content="Gazete Kapı, Haber, Son Dakika, Gündem, Köşe Yazıları, Yazarlar, Dünya Haberleri..." />
    <meta property="og:description" content="Gazete Kapı Lemonde Yayıncılık ile 2022 yılında yayın hayatına başladı" />
    <meta property="og:image" content="https://uploads.gazetekapi.com/images/placeholder/kapi-logo.png" />
    <meta property="og:url" content="https://www.gazetekapi.com/" />
    <meta name="twitter:card" content="summary_larg_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="Gazete Kapı, Haber, Son Dakika, Gündem, Köşe Yazıları, Yazarlar, Dünya Haberleri..." />
    <meta name="twitter:description" content="Gazete Kapı Lemonde Yayıncılık ile 2022 yılında yayın hayatına başladı" />
    <meta name="twitter:image" content="https://uploads.gazetekapı.com/images/placeholder/kapi-logo.png" />
    <link rel="icon" type="image/x-icon" href="https://uploads.gazetekapı.com/front/wwwroot/kapi-logo.ico">
    <link rel="apple-touch-icon" href="icon.png">
    <title>Gazete Kapı, Haber, Son Dakika, Gündem, Köşe Yazıları, Yazarlar, Dünya Haberleri...</title>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap"
          rel="stylesheet">
    @*<link href="./css/styles.css?537a1bbd0e5129401d28" rel="stylesheet">*@
    <link href="https://uploads.gazetekapı.com/front/wwwroot/css/styles.css" rel="stylesheet" />

    <link href="https://uploads.gazetekapı.com/front/wwwroot/css/base/layoutbase.css" rel="stylesheet" />
    <link href="~/modeservicestyle.css" rel="stylesheet" />
    <link href="~/mobile-resp.css" rel="stylesheet" />
    <link rel="manifest" href="~/site.webmanifest.json">

    <style>
        .img-category {
            min-height: 186px;
        }

        .boxed {
            max-width: 1030px;
        }

        #footer-col-1 {
            width: 153px;
        }

        #img-shrink.sticky {
            height: 100px;
            padding: 15px 0px;
            -webkit-transition: height 0.2s;
            -moz-transition: height 0.2s;
            -ms-transition: height 0.2s;
            -o-transition: height 0.2s;
        }

        .img-subcat {
            width: 100%;
            height: 119px;
        }

        .img-slide {
            width: 100%;
            height: 460px;
        }

        .text-cat {
            background-color: #515d5e;
            padding: 15px;
        }

            .text-cat a {
                color: #ffffff;
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
                font-family: Montserrat;
                text-align: start;
                text-decoration: none;
            }

        .slide-width {
            max-width: 66.35667%;
            margin-right: 2px;
        }

        .seperate-menu {
            height: 1px;
            background-color: #343a40;
            width: 92%;
            margin: 5px 0px;
        }

        .banner-cs {
            position: fixed;
            vertical-align: top;
            display: flex;
            width: 100%;
            padding-top: 21px;
            z-index: 0;
        }

        #bnr.increase {
            position: fixed;
            vertical-align: top;
            display: flex;
            width: 100%;
            padding-top: 65px;
            z-index: 0;
        }

        .banner-cs-img {
            height: 435px;
            border: 1px solid #515d5e;
        }
    </style>
</head>

<body>

    @await Component.InvokeAsync("HeaderWeb")

    @RenderBody()

    @await Component.InvokeAsync("FooterWeb")

    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

    @*<script type="text/javascript" src="./js/index.bundle.js?537a1bbd0e5129401d28"></script>*@
    <script src="https://uploads.gazetekapı.com/front/wwwroot/js/index.bundle.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="~/InfinitiySroll.js" type="text/javascript"></script>
    <script src="~/modeservice.js"></script>

    <script type="text/javascript">
        window.onscroll = function () { onScroll() };
        function onScroll() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                document.getElementById("img-shrink").classList.add("sticky");
                document.getElementById("bnr").classList.add("increase");
                document.getElementById("main_nav99").classList.add("removeCurrency");
            } else {
                document.getElementById("img-shrink").classList.remove("sticky");
                document.getElementById("bnr").classList.remove("increase");
                document.getElementById("main_nav99").classList.remove("removeCurrency");

            }
        }

        function notifyMe() {
            if (!Notification) {
                alert('Lütfen Chrome, Firefox, Opera, Internet Explorer veya Spartan\'ın güncel bir versiyonunu kullanınız...');
                return;
            }

            if (Notification.permission !== "granted")
                Notification.requestPermission();

            var notification = new Notification('Hoşgeldiniz!', {
                icon: 'https://uploads.gazetekapı.com/images/placeholder/kapi-logo.png',
                body: "Bizimle iletişime geçmek için tıklayın!",
            });


            notification.onclick = function () {
                window.open("https://calisma.gazetekapı.com");
            }
        }

        window.onload = notifyMe;

    </script>

    @RenderSection("scripts", false)

</body>

</html>